<!DOCTYPE html>
<html lang="en">
<head>    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Success</title>
</head>
<body>
    <h2>성공하였습니단ㄴ</h2>
    <a href="/travel">돌아가기</a>
</body>
</html>